/*--------------------------------
 全体
---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body {
  font-family: 'Noto Sans JP', sans-serif;
  }
.page{
  padding: 0.5% 0%;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header-all{
  margin: 1% 2%;
  display: flex;
}
.header-logo{
  width: 35%;
}
.header-right{
  margin: auto;
}
.header-text{
  padding: 0px 20px;
  display: inline-block;
}