/*--------------------------------
 全体
---------------------------------*/
@charset"UTF-8";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700&family=Montserrat:wght@700&family=Noto+Sans+JP:wght@400;700&display=swap');
@media screen and (min-width: 600px){
  .br-sp {display: none; }
  }

/*アニメーション*/
@keyframes fadeup {
  0% {
    transform: translateY(30px);
    opacity: 0;
    }
  80% {
    opacity: 1;
    }
  100% {
      opacity: 1;
      transform: translateY(0);
    }
}
.is-animated{
  animation: fadeup 2s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}
/*アニメーション*/

html{
  font-size: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
  color: rgb(0, 0, 0);
}
.page{
  padding: 0.7% 0%;
}
a{
  color: #1ca9e3;
  text-decoration: none;
}
a[href^="http"]:after,
a[href^="//"]:after {
  margin: 0 0 0 3px;
  font-family: "Font Awesome 5 Free";
  content: '\f35d';
  font-weight: 900;
}
a[href^="https://light-create2206.github.io"]:after {
  margin: inherit;
  font-family: inherit;
  content: '';
  font-weight: inherit;
}
main{
  margin: 0vw -0.34vw;
}
footer{
  margin: 0vw -0.34vw;
}
/*--------------------------------
ヘッダー
---------------------------------*/
.header a{
  color:rgb(0, 0, 0);
}
.header {
  position: fixed;
  margin-top: -10px; 
  z-index: 7;
  width: 99%;
  background-color: #fff;
  box-shadow: 0 10px 10px -6px rgba(0,0,0,.1);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}
.header-logo{
  width: 200px;
  padding-top: 8px; 
}
.header-right{
  margin-top: 6px; 
}
.header-list{
  display: flex;
}
.header-text{
  font-size: 15px;
  margin: 0vw 2vw;
  letter-spacing: 0.2vw;
  font-family: 'M PLUS 1p';
  list-style-type: none;
  position: relative;
}
.nav{
  display:none;
}
/*--------------------------------
mv
---------------------------------*/
.mv{
  text-align: center;
  color: #333;
  animation: fadeup 3s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}
.mv-all{
  margin: 20vw;
}
.mv-titel{
  font-size: 55px;
  letter-spacing: 0.5vw;
  font-family: 'Montserrat';
}
.mv-subtitel{
  font-size: 1.5vw;
  letter-spacing: 0.1vw;
  font-family: 'Montserrat';
  margin-top: -3vw;
}
/*--------------------------------
紹介
---------------------------------*/
.s{
  background-color: rgb(235, 235, 235);
  padding: 9vw 0vw;
}
.s-text{
  font-size: 25px;
  text-align: center;
}
/*--------------------------------
news
---------------------------------*/
.news{
  padding: 6vw 5vw;
}
.news-text{
  letter-spacing: 0.4vw;
}
.news-list{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
}
.news-img{
  width: 400px;
  border: 0.1px solid #dadada;
}
.news-item a{
  color: black;
}
.news-item{
  margin: 0px 10px;
  margin-bottom: 50px;
  width: 400px;
}
.news-name{
  font-size: 15px;
  margin-top: -8px;
}
.news-date{
  margin-top: -20px;
  color:rgba(65, 64, 64, 0.651);
}
.news-center{
  justify-content: center;
  align-items: center;
}
  .flat.fade {
    position: relative;
    text-align: center;
    /* 中央揃え */
    display: block;
    margin: 0 auto;
    /* 幅の指定 */
    width: 110%;
    max-width: 250px;
    box-sizing: border-box;
    padding: 10px;
    /* 色の指定 */
    background: linear-gradient(135deg, #c9d64f, #05acee);
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
  }
  .flat.fade:hover {
    opacity: 0.7;
  }
  .flat.fade:active, .flat.fade:focus {
    top: 2px;
  }
.more{
  padding-top: 4vw;
}
/*--------------------------------
基本
---------------------------------*/
.white{
  padding: 6vw 5vw;
  letter-spacing: 0.4vw;
}
.gray{
  padding: 6vw 5vw;
  background-color: rgb(235, 235, 235);
  letter-spacing: 0.4vw;
}
.subtext{
  letter-spacing: 0vw;
  padding-left: 40px;
}
.ytlist{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.yt{
  justify-content: space-around;
  padding: 5vw 0vw;
  width: 288px;
  height: 162px;
}
/*--------------------------------
creators
---------------------------------*/
.at.or {
  position: relative;
  text-align: center;
  /* 中央揃え */
  display: block;
  margin: 0 auto;
  /* 幅の指定 */
  width: 110%;
  max-width: 250px;
  box-sizing: border-box;
  padding: 10px;
  /* 色の指定 */
  background: linear-gradient(135deg, #8dd5eb, #f36c4a);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}
.at.or:hover {
  opacity: 0.7;
}
.at.or:active, .at.or:focus {
  top: 2px;
}
/*--------------------------------
apply
---------------------------------*/
.p.l {
  position: relative;
  text-align: center;
  /* 中央揃え */
  display: block;
  margin: 0 auto;
  /* 幅の指定 */
  width: 110%;
  max-width: 250px;
  box-sizing: border-box;
  padding: 10px;
  /* 色の指定 */
  background: linear-gradient(135deg, #b9d131, #f34a53);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}
.p.l:hover {
  opacity: 0.7;
}
.p.l:active, .p.l:focus {
  top: 2px;
}
/*--------------------------------
フッター
---------------------------------*/
.footer{
  padding-bottom: -10px;
}
.footer-all{
  background-color: rgb(255, 255, 255);
  padding: 3vw 1vw 1vw 1vw;
  margin-bottom: -15px;
}
.footer-all-two{
  margin: 0vw 2vw 3vw 2vw;
  display: flex;
  justify-content: space-around;
}
.footer-right{
  display:flex;
  justify-content: space-around;
}
.footer-list{
  padding: 0px 9vw;
  justify-content: space-around;
}
.footer-li{
  list-style-type: none;
  margin-left: -30px;
}
.footer-li a{
  color:#333;
}
.copyright{
  text-align: center;
  font-size: 13px;
  color:rgba(26, 25, 25, 0.582)
}
/*　モバイル版
------------------------- */
@media(max-width:600px){
  main{
    margin: 0vw -2vw;
  }
  footer{
    margin: 0vw -2vw;
  }
  .page{
    padding: 0% 0%;
  }
  /* header */
  .header a{
    color:rgb(0, 0, 0);
  }
  .header{
    width: 95%;
    margin-top: -1px;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  }
  .header .container{
    margin: -8px -8px;
    justify-content: space-between;
  }
  .header-logo{
    width: 150px;
    padding-top: 8px; 
    padding-bottom: 8px;
  }
  .header-right{
    display:none;
  }
  .header-text{
    padding-top: 5px;
    font-size: 20px;
    padding-left: 5px;
    font-family: "Noto Sans JP";
  }
  .nav{
    display: inline;
    margin-right: -4px;
    }
  .drawer_hidden {
    display: none;
  }
  .drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
  }
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  .drawer_open span:before {
    bottom: 8px;
  }
  .drawer_open span:after {
    top: 8px;
  }
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; 
    z-index: 99;
    background: #fff;
    transition: .5s;
  }
 .nav_list {
    list-style: none;
  }
  #drawer_input:checked ~ .nav_content {
   left: 0;/* メニューを画面に入れる */
  }

  /* mv */
  .mv{
    padding: 35vw 0vw;
  }
  .mv-titel{
    font-size: 30px;
  }
  .mv-subtitel{
    font-size: 15px;
  }
  /* 紹介 */
  .s-text{
    font-size: 15px;
  }
  /* news*/
  .news{
    padding: 20vw 8vw;
  }
  .news-list{
    margin: 5px 20px;
  }
 .news-item{
  width: 300px;
 }
  .news-img{
    width: 300px;
  }
  .news-name{
    font-size: 14px;
    margin-top: -5px;
  }
  .news-date{
    font-size: 8px;
    margin-top: -10px;
  }
  .flat.fade {
    width: 50%;
    font-size: 12px;
  }
  /* creators*/
  .at.or {
    width: 50%;
    font-size: 12px;
  }
  /* 基本 */
  .creators-text,.apply-text , .about-text , .guidelines-text , .radio-text , .download-text , .contact-text{
    font-size: 18px;
  }
  .subtext{
    font-size: 12px;
    padding-left: 5vw;
  }
  .p.l {
    width: 50%;
    font-size: 12px;
  }
  .ytlist{
    text-align: center;
  }
  /* フッター　*/
  .footer-all{
    padding: 10vw 1vw 3vw 1vw;
    margin-bottom: -15px;
  }
  .footer-all-two{
    display: block;
  }
  .footer-logo{
    width: 150px;
  }
  .footer-right{
    display:block;
  }
  .footer-list{
    padding: 2vw 5vw;
  }
  .footer-name{
    font-size: 15px;
  }
  .footer-li{
    list-style-type: none;
    font-size: 12px;
  }

}