/*--------------------------------
 全体
---------------------------------*/
@charset"UTF-8";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700&family=Montserrat:wght@700&family=Noto+Sans+JP:wght@400;700&display=swap');
@media screen and (min-width: 600px){
  .br-sp {display: none; }
  }

/*アニメーション*/
@keyframes fadeup {
  0% {
    transform: translateY(30px);
    opacity: 0;
    }
  80% {
    opacity: 1;
    }
  100% {
      opacity: 1;
      transform: translateY(0);
    }
}
.is-animated{
  animation: fadeup 2.5s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}
/*アニメーション*/

html{
  font-size: 100%;
}
body {
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
  color: rgb(88, 88, 88);
}
.page{
  padding: 0.7% 0%;
}
a{
  color: #1ca9e3;
  text-decoration: none;
}
a[href^="http"]:after,
a[href^="//"]:after {
  margin: 0 0 0 3px;
  font-family: "Font Awesome 5 Free";
  content: '\f35d';
  font-weight: 900;
}
a[href^="https://light-create2206.github.io"]:after {
  margin: inherit;
  font-family: inherit;
  content: '';
  font-weight: inherit;
}
main{
  margin: 0vw -0.34vw;
}
footer{
  margin: 0vw -0.34vw;
}
/*--------------------------------
ヘッダー
---------------------------------*/
.header a{
  color:rgb(0, 0, 0);
}
.header {
  position: fixed;
  margin-top: -10px; 
  z-index: 7;
  width: 99%;
  background-color: #fff;
  box-shadow: 0 10px 10px -6px rgba(0,0,0,.1);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}
.header-logo{
  width: 200px;
  padding-top: 8px; 
}
.header-right{
  margin-top: 6px; 
}
.header-list{
  display: flex;
}
.header-text{
  font-size: 15px;
  margin: 0vw 2vw;
  letter-spacing: 0.2vw;
  font-family: 'M PLUS 1p';
  list-style-type: none;
  position: relative;
}
.nav{
  display:none;
}
/*--------------------------------
全体
---------------------------------*/
.privacy,.about,.radio,.guidelines{
  margin: 100px 20vw;
  font-family: 'Noto Sans JP';
  color: rgb(88, 88, 88);
}
.privacy-title,.about-title,.news-title,.creators-title,.contact-title,.radio-title,.guidelines-title{
  font-size: 30px;
  margin-bottom: 30px;
  letter-spacing: 0.4vw;
}
.about-subtitle,.creators-subtitle,.contact-subtitle,.radio-subtitle,.guidelines-subtitle{
  margin-top: -35px;
}
/*--------------------------------
プライバシーポリシー
---------------------------------*/
.privacy-paragraph{
  margin-top: 30px;
  margin-bottom: -20px;
}
.privacy-date{
  margin-top: 50px;
}
/*--------------------------------
LCについて
---------------------------------*/
.operation,.detail{
  margin: 100px 0px;
}
.operation a{
  color: rgb(88, 88, 88);
}
.operation-box{
  display: flex;
  margin: 20px 0px;
}
.operation-text-box{
  margin: -5px 0px;
}
.operation-text{
  font-size: 25px;
  margin: -20px 0px;
}
.operation-img{
  width: 200px;
  margin-right: 100px;
}
.operation-creators{
  background-color: rgb(218, 218, 218);
  padding: 5px;
  width: 132px;
  border-radius: 5px;
  font-size: 13px;
}
.detail-box{
  display: flex;
  margin: -10px 0px;
}
.detail-title{
  width: 10em;
}
.detail-content{
  margin-left: 5em;
}
/*--------------------------------
news
---------------------------------*/
.news{
  margin: 100px 100px;
  font-family: 'Noto Sans JP';
}
.news-box{
  margin-bottom: 100px; 
}
.news-list{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;
}
.news-img{
  width: 350px;
}
.news-item a{
  color: rgb(88, 88, 88);
}
.news-item{
  padding: 0vw 0.5vw;
}
.news-name{
  font-size: 13px;
  margin: -0.3vw 0vw;
  color:rgb(54, 54, 54);
}
.news-date{
  margin: -0.3vw 0vw;
  color:rgba(65, 64, 64, 0.651);
}
.news-article{
  margin: 100px 20vw;
  font-family: 'Noto Sans JP';
}
.news-article-date{
  color: rgb(88, 88, 88);
  margin-top: -10px;
}
.news-article-img-box{
  text-align: center;
}
.news-article-img{ 
  width: 450px;
  margin-bottom: 50px;
}
/*--------------------------------
creators
---------------------------------*/
.creators{
  margin: 80px 20vw;
  font-family: 'Noto Sans JP';
}
.creators-list{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
}
.creators-item{
  margin: 0px 10px;
  margin-bottom: 50px;
  width: 200px;
}
.creators-item a{
  color: rgb(88, 88, 88);
}
.creators-img{
  width: 200px;
  border: 0.1px solid #dadada;
}
.creators-name{
  font-size: 15px;
  margin-top: -8px;
}
.creators-info{
  font-size: 10px;
  margin-top: -20px;
}
.creator{
  margin: 100px 100px;
  font-family: 'Noto Sans JP';
}
.creator-box{
  margin: 100px 20vw;
}
.creator-info{
  color: rgb(88, 88, 88);
  margin-top: -10px;
}
.creator-img-box{
  text-align: center;
}
.creator-img{ 
  width: 250px;
  margin-bottom: 50px;
  border: 0.1px solid #dadada;
}
.creator-subtitle{
  margin-top: -20px;
}
.creator-text{
  margin-left: 10px;
}
.creator-title{
  margin-top: 50px;
  margin-bottom: -10px;
  padding: 0.2em 0.5em;/*上下 左右の余白*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #32c96c;/*左線*/
  border-radius: 5px;
}
.creator-link{
  margin: 10px -30px;
  list-style-type: none;
  letter-spacing: 1px;
}
/*--------------------------------
contact
---------------------------------*/
.contact{
  margin-top: 100px;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 100px;
  font-family: 'Noto Sans JP';
  color: rgb(88, 88, 88);
}
.contact-link{
  margin: 100px 0px;
}
.contact-li-box{
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact-li a{
  color: #fff;
}
.contact-li{
  background-color: rgb(65, 65, 65);
  padding: 20px 20px;
  border-radius: 20px;
}
/*--------------------------------
radio
---------------------------------*/
.radio-new,.radio-archive,.radio-letter{
  margin: 100px 0px;
}
.radio-yt-list{
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-around;
}
.radio-yt-box{
  text-align: center;
}
.radio-yt{
  width: 288px;
  height: 162px;
}
.radiot-link-box{
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-around;
}
.radiot-link a{
  color: #fff;
}
.radiot-link{
  background-color: rgb(65, 65, 65);
  padding: 20px 20px;
  border-radius: 20px;
}
/*--------------------------------
guidelines
---------------------------------*/
.guidelines-paragraph{
  margin-top: 30px;
  margin-bottom: -20px;
}
.guidelines-date{
  margin-top: 50px;
}
.guidelines-link-box{
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-around;
}
.guidelines-link a{
  color: #fff;
}
.guidelines-link{
  background-color: rgb(65, 65, 65);
  padding: 20px 20px;
  border-radius: 20px;
}
/*--------------------------------
フッター
---------------------------------*/
.footer{
  padding-bottom: -10px;
}
.footer-all{
  padding: 3vw 1vw 1vw 1vw;
  margin-bottom: -15px;
}
.footer-all-two{
  margin: 0vw 2vw 3vw 2vw;
  display: flex;
  justify-content: space-around;
}
.footer-right{
  display:flex;
  justify-content: space-around;
}
.footer-list{
  padding: 0px 9vw;
  justify-content: space-around;
}
.footer-li{
  list-style-type: none;
  margin-left: -30px;
}
.footer-li a{
  color:#333;
}
.copyright{
  text-align: center;
  font-size: 13px;
  color:rgba(26, 25, 25, 0.582)
}
/*　モバイル版
------------------------- */
@media(max-width:600px){
  main{
    margin: 0vw -2vw;
  }
  footer{
    margin: 0vw -2vw;
  }
  .page{
    padding: 0% 0%;
  }
  /* header */
  .header a{
    color:rgb(0, 0, 0);
  }
  .header{
    width: 95%;
    margin-top: -1px;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  }
  .header .container{
    margin: -8px -8px;
    justify-content: space-between;
  }
  .header-logo{
    width: 150px;
    padding-top: 8px; 
    padding-bottom: 8px;
  }
  .header-right{
    display:none;
  }
  .header-text{
    padding-top: 5px;
    font-size: 20px;
    padding-left: 5px;
    font-family: "Noto Sans JP";
  }
  .nav{
    display: inline;
    margin-right: -4px;
    }
  .drawer_hidden {
    display: none;
  }
  .drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
  }
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  .drawer_open span:before {
    bottom: 8px;
  }
  .drawer_open span:after {
    top: 8px;
  }
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; 
    z-index: 99;
    background: #fff;
    transition: .5s;
  }
 .nav_list {
    list-style: none;
  }
  #drawer_input:checked ~ .nav_content {
   left: 0;/* メニューを画面に入れる */
  }
  /*全体*/
  .privacy,.about,.creators,.contact,.radio,.guidelines{
    padding-top: 70px;
    margin: 0px 20px;
  }
  .privacy-title,.about-title,.news-title,.creators-title,.contact-title,.radio-title,.guidelines-title{
    font-size: 20px;
    margin-bottom: 30px;
  }
  .about-subtitle,.creators-subtitle,.contact-subtitle,.radio-subtitle{
    font-size: 15px;
  }
  .privacy-text,.about-text,.creators-text,.contact-text,.radio-text,.guidelines-text{
    font-size: 13px;
  }
  /*privacy */
  .privacy-subtitle{
    font-size: 13px;
  }
  .privacy-paragraph{
    margin-top: 30px;
    margin-bottom: -15px;
  }
  .privacy-date{
    font-size: 13px;
    margin-top: 50px;
  }
  /*LCについて*/
  .operation{
    justify-content: center;
  }
  .operation-box{
    display: block;
    margin-bottom: 150px;
  }
  .operation-text-box{
    margin: -10px 0px;
  }
  .operation-text{
    font-size: 20px;
  }
  .operation-position,.operation-subtext{
    font-size: 13px;
  }
  .operation-img-box{
    text-align: center;
  }
  .operation-img{
    width: 220px;
    margin-right: 0px;
  }
  .operation-creators{
    width: 122px;
    font-size: 12px;
  }
  .detail-box{
    display: flex;
    font-size: 12px;
  }
  .detail-title{
    width: 10em;
  }
  .detail-content{
    width: 15em;
  }
  /*news*/
  .news{
    display: bottom;
    padding-top: 70px;
    margin: 0px 20px;
  }
  .news-list{
    text-align: center;
    margin-bottom: 0px;
  }
  .news-item{
    padding: 0vw 0vw;
    margin-bottom: 20px;
  }
  .news-img{
    width: 300px;
  }
  .news-name{
    font-size: 13px;
  }
  .news-date{
    font-size: 9px;
  }
  .news-article{
    padding-top: 0px;
    margin: 0px 10px;
  }
  .news-article-title{
    font-size: 20px;
  }
  .news-article-date{
    margin-top: -20px;
    font-size: 13px;
  }
  .news-article-img-box{
    text-align: center;
  }
  .news-article-img{ 
    width: 300px;
    margin-bottom: 50px;
  }
  .news-article-text{
    font-size: 15px;
  }
  /*creators*/
  .creators{
    padding-top: 70px;
  }
  .creators-item{
    margin: 0px 0px;
    margin-bottom: 10px;
    width: 150px;
  }
  .creators-img{
    width: 150px;
  }
  .creators-name{
    font-size: 14px;
  }
  .creators-info{
    font-size: 9px;
  }
  .creator{
    padding-top: 70px;
    margin: 0px 0px;
  }
  .creator-box{
    padding-top: 0px;
    margin: 0px 20px;
  }
  .creator-name{
    font-size: 20px;
  }
  .creator-info{
    margin-top: -20px;
    font-size: 13px;
  }
  .creator-img{ 
    margin-bottom: 50px;
  }
  .creator-subtitle,.creator-text{
    font-size: 13px;
  }
  .creator-title{
    font-size: 15px;
  }
  .creator-link{
    font-size: 13px;
  }
  /* contact */
  .contact-link{
    margin: 50px 0px;
  }
  .contact-li-box{
    display: block;
    text-align: center;
    padding: 5px 5px;
    font-size: 13px;
  }
  /* radio */
  .radio-yt{
    width: 288px;
    height: 162px;
  }
  .radiot-link-box{
    display: block;
    text-align: center;
    padding: 5px 5px;
    font-size: 13px;
  }
  .radiot-link{
    margin: 50px 0px;
  }
  /* ガイドライン */
  .guidelines-subtitle{
    font-size: 13px;
  }
  .guidelines-paragraph{
    margin-top: 30px;
    margin-bottom: -15px;
  }
  .guidelines-date{
    font-size: 13px;
    margin-top: 50px;
  }
  .guidelines-link-box{
    display: block;
    text-align: center;
    padding: 5px 5px;
    font-size: 13px;
  }
  .guidelines-link{
    margin: 50px 0px;
  }
  /* フッター　*/
  .footer-all{
    padding: 10vw 1vw 3vw 1vw;
    margin-bottom: -15px;
  }
  .footer-all-two{
    display: block;
  }
  .footer-logo{
    width: 150px;
  }
  .footer-right{
    display:block;
  }
  .footer-list{
    padding: 2vw 5vw;
  }
  .footer-name{
    font-size: 15px;
  }
  .footer-li{
    list-style-type: none;
    font-size: 13px;
  }

}